.sm{
    background-color: aqua;
}
.sarwar{
    background-color: yellow;
    width: 20%;
    padding: 30px;

    
}
.rm{
    margin-top: 10px;
    background-color: aqua;
}
.s{
    margin-top: 10px;
    background-color: aqua;
}